<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Selection beverage</h1>

      <form action="/users/groupname" method="POST">
        <div class="form-group">
          <label for="name">What is the name of your selection beverage?</label>
          <input
            type="beverage"
            id="beverage"
            name="beverage"
            class="form-control"
            placeholder="beverage Name"
            value="<%= typeof beverage != 'undefined' ? beverage : '' %>"
          />
        </div>
        <br />
        <input type="submit" class="btn btn-success" />
      </form>
      <br />
      <label for="groupname">Don't have an beverage yet?</label>
      <a
        href="/users/beverage"
        id="groupname"
        name="groupname"
        class="btn btn-success"
        >Create Selection</a
      >
    </div>

    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </div>
</div>
