<h1>Hello <%= user.username%></h1>
<h2>Enjoy your chosen beverage once a day, every day for the next month!</h2>
<h3>Beverage Size : <%= user.size%></h3>
<h3>Name Of Your Beverage: <%= user.beverage%></h3>
<h3>Custom Instructions: <%= user.custom%></h3>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
